In [164]:
import pandas as pd
import numpy as np
import seaborn as sns
import os
os.chdir(r"\\SRVA\Homes$\pothulas\Desktop")

In [165]:
data ={'x1': [2,2,1,1,3,4,5,5,7,6],
       'x2': [5,4,5,3,6,4,6,4,3,3],
       'x3': [1,2,4,4,5,6,3,3,7,7],
        'y':  [2,1,1,1,5,4,7,6,7,8]}

In [166]:
df = pd.DataFrame(data,index=None)
df

   x1  x2  x3  y
0   2   5   1  2
1   2   4   2  1
2   1   5   4  1
3   1   3   4  1
4   3   6   5  5
5   4   4   6  4
6   5   6   3  7
7   5   4   3  6
8   7   3   7  7
9   6   3   7  8

In [167]:
len(df.x1)

10

In [168]:
# df.to_csv('mlr.csv', sep=',', encoding='utf-8')

In [169]:
y = []
def knn_distance(x1,x2,x3):
    for i in range(len(df.x1)):
        distance = (((x1-df.iloc[i][0])**2)+((x2-df.iloc[i][1])**2)+((x3-df.iloc[i][2])**2))**0.5
        #print(distance)
        y.append(distance)
    return y
knn_distance(6,3,7)
df['distance'] = y

In [170]:
df

   x1  x2  x3  y  distance
0   2   5   1  2  7.483315
1   2   4   2  1  6.480741
2   1   5   4  1  6.164414
3   1   3   4  1  5.830952
4   3   6   5  5  4.690416
5   4   4   6  4  2.449490
6   5   6   3  7  5.099020
7   5   4   3  6  4.242641
8   7   3   7  7  1.000000
9   6   3   7  8  0.000000

In [171]:
df['rank'] = df['distance'].rank(ascending=1, method = 'dense')
df

   x1  x2  x3  y  distance  rank
0   2   5   1  2  7.483315  10.0
1   2   4   2  1  6.480741   9.0
2   1   5   4  1  6.164414   8.0
3   1   3   4  1  5.830952   7.0
4   3   6   5  5  4.690416   5.0
5   4   4   6  4  2.449490   3.0
6   5   6   3  7  5.099020   6.0
7   5   4   3  6  4.242641   4.0
8   7   3   7  7  1.000000   2.0
9   6   3   7  8  0.000000   1.0

In [172]:
# df.to_csv('mlr.csv', sep=',', encoding='utf-8')

In [173]:
def knn_reg(k_value):
    a=[]
    for i in (range(k_value+1)):
        y = df[df['rank'] == i]['y']
        list(y)
        a.extend(y)
        i=i+1
    return a
knn = knn_reg(3)
knn

[8, 7, 4]

In [174]:
Y_predicted  = sum(knn) / float(len(knn))
Y_predicted

6.333333333333333

In [175]:
x = df[['x1','x2','x3']]
y = df[['y']]

In [176]:
from sklearn.neighbors import KNeighborsRegressor
knn = KNeighborsRegressor(n_neighbors=3)
knn.fit(x,y)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
          metric_params=None, n_jobs=1, n_neighbors=3, p=2,
          weights='uniform')

In [177]:
print(knn.predict([[6,3,7]]))

[[ 6.33333333]]

In [181]:
from sklearn.model_selection import KFold
kf = KFold(n_splits=10)
kf.get_n_splits(x)
for train_index, test_index in kf.split(x):
    print("TRAIN:", train_index, "TEST:", test_index)

TRAIN: [1 2 3 4 5 6 7 8 9] TEST: [0]
TRAIN: [0 2 3 4 5 6 7 8 9] TEST: [1]
TRAIN: [0 1 3 4 5 6 7 8 9] TEST: [2]
TRAIN: [0 1 2 4 5 6 7 8 9] TEST: [3]
TRAIN: [0 1 2 3 5 6 7 8 9] TEST: [4]
TRAIN: [0 1 2 3 4 6 7 8 9] TEST: [5]
TRAIN: [0 1 2 3 4 5 7 8 9] TEST: [6]
TRAIN: [0 1 2 3 4 5 6 8 9] TEST: [7]
TRAIN: [0 1 2 3 4 5 6 7 9] TEST: [8]
TRAIN: [0 1 2 3 4 5 6 7 8] TEST: [9]

In [185]:
for train_index, test_index in kf.split(x):
       y_train, y_test = y[train_index], y[test_index]

KeyError: '[1 2 3 4 5 6 7 8 9] not in index'

In [268]:
y = []
def knn_distance(x1,x2,x3,j):
    for i in range(len(df.x1)):
        distance = (((abs(x1-df.iloc[i][0]))**j)+((abs(x2-df.iloc[i][1]))**j)+((abs(x3-df.iloc[i][2]))**j))**(1.0/j)
        y.append(distance)
    return y
knn_distance(6,3,7,25)
df['distance'] = y

In [269]:
df

   x1  x2  x3  y  distance  rank
0   2   5   1  2  6.000010   9.0
1   2   4   2  1  5.000754   8.0
2   1   5   4  1  5.000001   7.0
3   1   3   4  1  5.000001   6.0
4   3   6   5  5  3.084344   4.0
5   4   4   6  4  2.000000   2.0
6   5   6   3  7  4.000120   5.0
7   5   4   3  6  4.000000   3.0
8   7   3   7  7  1.000000   1.0

In [270]:
def knn_reg(k_value):
    a=[]
    for i in (range(k_value+1)):
        y = df[df['rank'] == i]['y']
        list(y)
        a.extend(y)
        i=i+1
    return a
knn = knn_reg(3)
knn

[7, 4, 6]